[submodule "FMX-Tools-Starter-Kit"]
	path = FMX-Tools-Starter-Kit
	url = https://github.com/DeveloppeurPascal/FMX-Tools-Starter-Kit.git
[submodule "Gamolf-FMX-Game-Starter-Kit"]
	path = Gamolf-FMX-Game-Starter-Kit
	url = https://github.com/DeveloppeurPascal/Gamolf-FMX-Game-Starter-Kit.git
[submodule "Delphi-Projects-Template"]
	path = Delphi-Projects-Template
	url = https://github.com/DeveloppeurPascal/Delphi-Projects-Template
[submodule "GitHubPages-Learning-Resources-Template"]
	path = GitHubPages-Learning-Resources-Template
	url = https://github.com/DeveloppeurPascal/GitHubPages-Learning-Resources-Template
[submodule "Delphi-Formations-Template"]
	path = Delphi-Formations-Template
	url = https://github.com/DeveloppeurPascal/Delphi-Formations-Template.git
[submodule "VCL-Tools-Starter-Kit"]
	path = VCL-Tools-Starter-Kit
	url = https://github.com/DeveloppeurPascal/VCL-Tools-Starter-Kit.git
